*.cache
*.class
project/target/resolution-cache/default/cosc455-project1-build/scala_2.10/sbt_0.13/0.1-SNAPSHOT/resolved.xml.xml
*.xml
*.xml
project/target/resolution-cache/reports/default-cosc455-project1-build-plugin.xml
*.xml
*.properties